## Load CSV and Libraries

In [ ]:
# Imports
import pandas as pd
from datetime import datetime
import json

In [ ]:
# get the dataset to clean
df = pd.read_csv("/content/top100_goodreads.csv")
df.head()

                                     Goodreads_ID  ... num goodreads reviews
0                           968.The_Da_Vinci_Code  ...                 50199
1  72193.Harry_Potter_and_the_Philosopher_s_Stone  ...                131608
2   15881.Harry_Potter_and_the_Chamber_of_Secrets  ...                 63057
3                               960.Angels_Demons  ...                 31070
4     2.Harry_Potter_and_the_Order_of_the_Phoenix  ...                 50446

[5 rows x 22 columns]

## Issue 1: Convert Pounds to American Dollars

In [ ]:
# convert pounds to american dollars
def pounds_to_dollars(amt):
  """
  Converts string '£xxx,xxx' to '$xxx,xxx' 
  counterpart including the 2022 numerical 
  conversion from pounds to dollars

  Input:
    str amt: string in £ format
  Output:
    str amt: in $ format
  """
  # remove extranious characters
  amt = amt.replace("£", "")
  amt = amt.replace(",", "")
  amt = amt.strip()

  # numerical conversion £1:$1.34
  amt = float(amt) * 1.34

  # convert to dollar string format
  amt = "${:,.2f}".format(amt)

  return amt

In [ ]:
# Example
pounds_to_dollars("£3,722,312.19")

'$4,987,898.33'

In [ ]:
# Apply to the columns to convert from pounds to dollars
df['Value'] = df['Value'].apply(pounds_to_dollars)
df['RRP'] = df['RRP'].apply(pounds_to_dollars)
df['ASP'] = df['ASP'].apply(pounds_to_dollars)

In [ ]:
df.head()

                                     Goodreads_ID  ... num goodreads reviews
0                           968.The_Da_Vinci_Code  ...                 50199
1  72193.Harry_Potter_and_the_Philosopher_s_Stone  ...                131608
2   15881.Harry_Potter_and_the_Chamber_of_Secrets  ...                 63057
3                               960.Angels_Demons  ...                 31070
4     2.Harry_Potter_and_the_Order_of_the_Phoenix  ...                 50446

[5 rows x 22 columns]

## Issue 2: Remove Unnecessary Columns & Set Index to Goodreads ID

In [ ]:
df = df.drop("Index", axis=1)

In [ ]:
df = df.set_index("Goodreads_ID")

## Issue 3: Make Dates into the DD/MM/YYYY format

In [ ]:
def change_date(date_str):
  """
  Converts string 'Day/Month/Year' to 'Month/Day/Year' 
  including the conversion from string days/months to
  the numerical format

  Input:
    str date_str: string in %d\n%b\n%Y format
  Output:
    str new_date_str: string in %m\%d\%Y format
  """
  date_obj = datetime.strptime(date_str, "%d\n%b\n%Y")
  new_date_str = date_obj.strftime('%m/%d/%Y')
  return new_date_str

In [ ]:
# example
change_date("1\nApr\n1992")

'04/01/1992'

In [ ]:
df["Publ Date"] = df["Publ Date"].apply(change_date)

In [ ]:
df.head()

                                                         ISBN  ... num goodreads reviews
Goodreads_ID                                                   ...
968.The_Da_Vinci_Code                           9780552149518  ...                 50199
72193.Harry_Potter_and_the_Philosopher_s_Stone  9780747532743  ...                131608
15881.Harry_Potter_and_the_Chamber_of_Secrets   9780747538486  ...                 63057
960.Angels_Demons                               9780552150736  ...                 31070
2.Harry_Potter_and_the_Order_of_the_Phoenix     9780747551003  ...                 50446

[5 rows x 20 columns]

## Issue 4: Make Genres into a new CSV, remove from the DataFrame

In [ ]:
genres = pd.DataFrame(df.copy()["genres"])

In [ ]:
genres.head()

                                                                                           genres
Goodreads_ID
968.The_Da_Vinci_Code                           {'genres': ['Fiction', 'Mystery', 'Thriller', ...
72193.Harry_Potter_and_the_Philosopher_s_Stone  {'genres': ['Fantasy', 'Fiction', 'Young Adult...
15881.Harry_Potter_and_the_Chamber_of_Secrets   {'genres': ['Fantasy', 'Fiction', 'Young Adult...
960.Angels_Demons                               {'genres': ['Fiction', 'Mystery', 'Thriller', ...
2.Harry_Potter_and_the_Order_of_the_Phoenix     {'genres': ['Fantasy', 'Young Adult', 'Fiction...

In [ ]:
# make a list of genres
all = []

# for each book row
for row in genres.index:
  # collect the genres list
  row_val = genres.loc[row,"genres"].replace("'","\"")
  row_val = json.loads(row_val)
  # for each genre a book has
  for item in row_val["genres"]:
    # split if a genre is a Genre > Subgenre
    new_lst = [item]
    if ">" in item:
      new_lst = item.split(">")
    # for each genre (1 or 2 is a genre > subgenre)
    for item in new_lst:
      item = item.strip()
      # if we haven't encountered the genre before
      if item not in all:
        # add the item to the genre df
        all.append(item)
        genres[item] = False
      # if the book has the genre, mark the book,genre cell True
      genres.loc[row, item] = True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [ ]:
genres = genres.drop("genres", axis=1)

In [ ]:
genres.head()

                                                Fiction  ...  Anthropology
Goodreads_ID                                             ...
968.The_Da_Vinci_Code                              True  ...         False
72193.Harry_Potter_and_the_Philosopher_s_Stone     True  ...         False
15881.Harry_Potter_and_the_Chamber_of_Secrets      True  ...         False
960.Angels_Demons                                  True  ...         False
2.Harry_Potter_and_the_Order_of_the_Phoenix        True  ...         False

[5 rows x 167 columns]

In [ ]:
df = df.drop("genres", axis=1)

In [ ]:
genres.to_csv("/top100_genres.csv")

## Issue 5: Make Ratings Distributions into a new CSV, remove from the DataFrame

In [ ]:
ratings = pd.DataFrame(df.copy()["goodreads rating distribution"])

In [ ]:
ratings.head()

                                                                    goodreads rating distribution
Goodreads_ID
968.The_Da_Vinci_Code                           {'5 Stars': 731457, '4 Stars': 729405, '3 Star...
72193.Harry_Potter_and_the_Philosopher_s_Stone  {'5 Stars': 5420633, '4 Stars': 1906445, '3 St...
15881.Harry_Potter_and_the_Chamber_of_Secrets   {'5 Stars': 1906462, '4 Stars': 878809, '3 Sta...
960.Angels_Demons                               {'5 Stars': 1044923, '4 Stars': 989925, '3 Sta...
2.Harry_Potter_and_the_Order_of_the_Phoenix     {'5 Stars': 1842775, '4 Stars': 726288, '3 Sta...

In [ ]:
# Add col for each Star
ratings["5 Stars"] = None
ratings["4 Stars"] = None
ratings["3 Stars"] = None
ratings["2 Stars"] = None
ratings["1 Star"] = None

In [ ]:
# In each book row
for row in ratings.index:
  row_val = ratings.loc[row,"goodreads rating distribution"].replace("'","\"")
  row_val = json.loads(row_val)
  # add the star value for each of the Stars 1-5
  ratings.loc[row,"5 Stars"] = int(row_val["5 Stars"])
  ratings.loc[row,"4 Stars"] = int(row_val["4 Stars"])
  ratings.loc[row,"3 Stars"] = int(row_val["3 Stars"])
  ratings.loc[row,"2 Stars"] = int(row_val["2 Stars"])
  ratings.loc[row,"1 Star"] = int(row_val["1 Star"])

In [ ]:
ratings = ratings.drop("goodreads rating distribution", axis=1)

In [ ]:
ratings.head()

                                                5 Stars  ...  1 Star
Goodreads_ID                                             ...
968.The_Da_Vinci_Code                            731457  ...   82991
72193.Harry_Potter_and_the_Philosopher_s_Stone  5420633  ...  141505
15881.Harry_Potter_and_the_Chamber_of_Secrets   1906462  ...   17755
960.Angels_Demons                               1044923  ...  102600
2.Harry_Potter_and_the_Order_of_the_Phoenix     1842775  ...   17701

[5 rows x 5 columns]

In [ ]:
ratings.to_csv("/top100_ratings.csv")

In [ ]:
df = df.drop("goodreads rating distribution", axis=1)

## Issue 6: Make Shelves into a new CSV, remove from the DataFrame

In [ ]:
shelves = pd.DataFrame(df.copy()["shelves"])

In [ ]:
shelves.head()

                                                                                          shelves
Goodreads_ID
968.The_Da_Vinci_Code                           {'to-read': 416339, 'currently-reading': 19278...
72193.Harry_Potter_and_the_Philosopher_s_Stone  {'to-read': 1266232, 'currently-reading': 1870...
15881.Harry_Potter_and_the_Chamber_of_Secrets   {'fantasy': 57513, 'favorites': 35022, 'fictio...
960.Angels_Demons                               {'to-read': 656905, 'currently-reading': 16603...
2.Harry_Potter_and_the_Order_of_the_Phoenix     {'to-read': 400226, 'currently-reading': 62033...

In [ ]:
# collect all shelve names
all = []

# for each book
for row in shelves.index:
  row_val = shelves.loc[row,"shelves"].replace("'","\"")
  row_val = json.loads(row_val)
  # for each shelf the book is in
  for item in row_val.keys():
    # clean the item
    item = item.strip()
    # if the item is not a shelf that had already been added
    if item not in all:
      # add the shelf to the all shelves list
      all.append(item)
      # add the shelf to the new dataframe
      shelves[item] = 0'
    # put the given shelf value into the shelf df
    shelves.loc[row, item] = int(row_val[item])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
# drop shelves from our new dataframe
shelves = shelves.drop("shelves", axis=1)

In [ ]:
shelves.head()

                                                to-read  ...  mum
Goodreads_ID                                             ...
968.The_Da_Vinci_Code                            416339  ...    0
72193.Harry_Potter_and_the_Philosopher_s_Stone  1266232  ...    0
15881.Harry_Potter_and_the_Chamber_of_Secrets       546  ...    0
960.Angels_Demons                                656905  ...    0
2.Harry_Potter_and_the_Order_of_the_Phoenix      400226  ...    0

[5 rows x 1528 columns]

In [ ]:
# save new dataframe
shelves.to_csv("/top100_shelves.csv")

In [ ]:
# drop shelves from the original shelf
df = df.drop("shelves", axis=1)

## Save the Final DataFrame

In [ ]:
df.to_csv("/top100_cleaned.csv")